<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>raspi-iccar</title>

    <style type="text/css">
        html,
        body {
            -webkit-user-select: none;
            width: 100%;
            height: 100%;
        }

        table {
            width: 100%;
            height: 100%;
        }

        table,
        td {
            border: 1px gray solid;
            padding: 10px;
        }

        button.up-down {
            touch-action: manipulation;
            font-size: 5vh;
            font-weight: bold;
            width: 45%;
            height: 95%;
        }

        button.right-left {
            touch-action: manipulation;
            font-size: 5vh;
            font-weight: bold;
            width: 95%;
            height: 50%;
        }

        .button_option {
            clip: rect(1px, 1px, 1px, 1px);
            position: absolute !important;
        }

        .button_option_label {
            font-weight: bold;
            font-size: 5vh;
        }

        .button_option:checked+.button_option_label {
            background: #4169e1;
            color: #fff;
        }
    </style>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript">
        let lastTouchEndTime = 0;
        document.addEventListener('touchend', (event) => {
            const now = new Date().getTime();
            if ((now - lastTouchEndTime) < 350) {
                event.preventDefault();
            }
            lastTouchEndTime = now;
        });
    </script>
    <script type="text/javascript">
        // var HOST = "http://127.0.0.1:5000/rasp-iccar/api";
        var HOST = "http://192.168.0.77:5000/rasp-iccar/api";
        var BUTTON_TIMER_LONG = 500;
        var BUTTON_TIMER_REPEAT = 500;

        var up_down_timer_id;
        var right_left_timer_id;

        $(function () {
            var post = function (button_type, button_event, button_option) {
                var data = {
                    "process": "back_end",
                    "request": {
                        "param1": "button",
                        "param2": [{
                            "button_type": button_type,
                            "button_event": button_event,
                            "button_option": button_option
                        }]
                    }
                };

                $.ajax({
                    type: "post",
                    url: HOST,
                    data: JSON.stringify(data),
                    contentType: "application/json",
                    dataType: "json",
                    scriptCharset: "utf-8",
                    success: function (data) {
                        console.log(JSON.stringify(data));
                    },
                    error: function (data) {
                        console.log(JSON.stringify(data));
                    }
                });
            };

            var button_event_long = function (button_type, button_event, button_option, button_timer) {
                post(button_type, button_event, button_option);
                if (button_timer == "BUTTON_TIMER_UP_DOWN") {
                    clearTimeout(up_down_timer_id);
                    up_down_timer_id = setTimeout(button_event_repeat, BUTTON_TIMER_REPEAT, button_type, "BUTTON_EVENT_REPEAT", button_option, button_timer);
                } else {
                    clearTimeout(right_left_timer_id);
                    right_left_timer_id = setTimeout(button_event_repeat, BUTTON_TIMER_REPEAT, button_type, "BUTTON_EVENT_REPEAT", button_option, button_timer);
                }
            };

            var button_event_repeat = function (button_type, button_event, button_option, button_timer) {
                post(button_type, button_event, button_option);
                if (button_timer == "BUTTON_TIMER_UP_DOWN") {
                    clearTimeout(up_down_timer_id);
                    up_down_timer_id = setTimeout(button_event_repeat, BUTTON_TIMER_REPEAT, button_type, "BUTTON_EVENT_REPEAT", button_option, button_timer);
                } else {
                    clearTimeout(right_left_timer_id);
                    right_left_timer_id = setTimeout(button_event_repeat, BUTTON_TIMER_REPEAT, button_type, "BUTTON_EVENT_REPEAT", button_option, button_timer);
                }
            };

            // button up
            $("#button_up").on("mousedown touchstart", function () {
                var button_option = $('input[name="button_option"]:checked').val();
                post("BUTTON_TYPE_UP", "BUTTON_EVENT_PRESS", button_option);
                clearTimeout(up_down_timer_id);
                up_down_timer_id = setTimeout(button_event_long, BUTTON_TIMER_LONG, "BUTTON_TYPE_UP", "BUTTON_EVENT_LONG", button_option, "BUTTON_TIMER_UP_DOWN");
            }).on("mouseup mouseleave touchend", function () {
                clearTimeout(up_down_timer_id);
                post("BUTTON_TYPE_UP", "BUTTON_EVENT_RELEASE", 0)
            });

            // button down
            $("#button_down").on("mousedown touchstart", function () {
                var button_option = $('input[name="button_option"]:checked').val();
                post("BUTTON_TYPE_DOWN", "BUTTON_EVENT_PRESS", button_option);
                clearTimeout(up_down_timer_id);
                up_down_timer_id = setTimeout(button_event_long, BUTTON_TIMER_LONG, "BUTTON_TYPE_DOWN", "BUTTON_EVENT_LONG", button_option, "BUTTON_TIMER_UP_DOWN");
            }).on("mouseup mouseleave touchend", function () {
                clearTimeout(up_down_timer_id);
                post("BUTTON_TYPE_DOWN", "BUTTON_EVENT_RELEASE", 0)
            });

            // button right
            $("#button_right").on("mousedown touchstart", function () {
                post("BUTTON_TYPE_RIGHT", "BUTTON_EVENT_PRESS", -30);
                clearTimeout(right_left_timer_id);
                right_left_timer_id = setTimeout(button_event_long, BUTTON_TIMER_LONG, "BUTTON_TYPE_RIGHT", "BUTTON_EVENT_LONG", -30, "BUTTON_TIMER_RIGHT_LEFT");
            }).on("mouseup mouseleave touchend", function () {
                clearTimeout(right_left_timer_id);
                post("BUTTON_TYPE_RIGHT", "BUTTON_EVENT_RELEASE", 0)
            });

            // button left
            $("#button_left").on("mousedown touchstart", function () {
                post("BUTTON_TYPE_LEFT", "BUTTON_EVENT_PRESS", 35);
                clearTimeout(right_left_timer_id);
                right_left_timer_id = setTimeout(button_event_long, BUTTON_TIMER_LONG, "BUTTON_TYPE_LEFT", "BUTTON_EVENT_LONG", 35, "BUTTON_TIMER_RIGHT_LEFT");
            }).on("mouseup mouseleave touchend", function () {
                clearTimeout(right_left_timer_id);
                post("BUTTON_TYPE_LEFT", "BUTTON_EVENT_RELEASE", 0)
            });
        })
    </script>
</head>

<body>
    <table>
        <tr height="20%">
            <td colspan="2">
                <table>
                    <tr align="center">
                        <td>
                            <input class="button_option" type="radio" id="button_high" name="button_option"
                                value="100" />
                            <label class="button_option_label" for="button_high">はやい</label>
                        </td>
                        <td>
                            <input class="button_option" type="radio" id="button_middle" name="button_option" value="50"
                                checked />
                            <label class="button_option_label" for="button_middle">ふつう</label>
                        </td>
                        <td>
                            <input class="button_option" type="radio" id="button_low" name="button_option" value="25" />
                            <label class="button_option_label" for="button_low">おそい</label>
                        </td>
                </table>
            </td>
        </tr>
        <tr>
            <td width="50%">
                <table>
                    <tr align="center">
                        <td width="50%" valign="bottom"><button class="up-down" type="button"
                                id="button_up">↑<br>まえ</button></td>
                    </tr>
                    <tr align="center">
                        <td valign="top"><button class="up-down" type="button" id="button_down">↓<br>うしろ</button></td>
                    </tr>
                </table>
            </td>
            <td>
                <table>
                    <tr align="center">
                        <td width="50%" align="right"><button class="right-left" type="button"
                                id="button_left">←<br>ひだり</button></td>
                        <td align="left"><button class="right-left" type="button" id="button_right">→<br>みぎ</button>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>

</html>
